
.label-login {
    width: 100%;
    text-align: center;
    display: block;
    color: #fff;
    margin: 4px 0;
}

.input-login {
    width: 100%;
    display: block;
    border-radius: 0.3rem;
    border: none;
    height: 22px;
    text-align: center;
    padding: 5px 0%;
    margin-bottom: 10px;

}
.login {
    height: 100vh;
    overflow: hidden;
    padding: 0vh 10vw 0vh 10vw;

    width: 100vw;
    background-color: #6b237b;
}

.btn-login {
    width: 100%;
    border: none;
    background: #FFF;
    border-radius: 0.3rem;
    margin-top: 12px;
    padding: 5px 0;
}
.login h2 {
    text-align: center;
    color: #fff;
}