
.label-login {
    width: 100%;
    text-align: left;
    display: block;
    color: #fff;
    margin: 4px 0;
}

.input-login {
    width: 100%;
    display: block;
    border-radius: 0.3rem;
    border: none;
    height: 32px;
    text-align: center;
    padding: 5px 0%;
    margin-bottom: 10px;

}
.login {
    height: 100vh;
    overflow: hidden;
    padding: 0vh 10vw 0vh 10vw;
    width: 100vw;
    background-color: #7c2aea;
}

.btn-login {
    width: 100%;
    border: none;
    background: #FF00FE;
    color: #fff;
    border-radius: 0.3rem;
    margin-top: 12px;
    font-size: 1.2em;
    padding: 9px 0;
}
.login h2 {
    text-align: left;
    font-size: 1.8em;
    font-weight: bold;
    color: #fff;
}

.img-login {
    width: 220px;
    height: 220px;
    display: block;
    margin:  40px auto;
}